{% extends 'base.html'%} 

    {% block go %}
    <div class = 'container-fluid'>
        <table class = 'table'>
            <thead>
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>place</th>
                    <th>serving</th>
                </tr> 
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>learn</th>
                    <th>design</th>
                </tr> 
                <tr> 
                    <th>id</th>
                    <th>type</th>
                    <th>color</th>
                    <th>breed</th> 
                </tr> 
                <tr> 
                    <th>id</th> 
                    <th>fit</th> 
                </tr>
                <tr> 
                    <th>id</th> 
                    <th>full</th> 
                    <th>man</th> 
                    <th>sem</th> 
                </tr> 
                <tr> 
                    <th>id</th> 
                    <th>cel</th> 
                    <th>wish</th> 
                    <th>tq</th> 
                </tr>  
                <tr> 
                    <th>id</th> 
                    <th>brand</th> 
                    <th>ver</th> 
                </tr> 
               
            </thead>
            <tbody> 
                
                <tr class = 'info'> 
                    <td>{{x.id}}</td>
                    <td>{{x.name}}</td>
                    <td>{{x.place}}</td>
                    <td>{{x.serving}}</td> 
                </tr>
                <tr class = 'danger'> 
                    <td>{{y.id}}</td>
                    <td>{{y.name}}</td>
                    <td>{{y.learn}}</td>
                    <td>{{y.design}}</td> 
                </tr>
                <tr class = 'danger'> 
                    <td>{{z.id}}</td>
                    <td>{{z.type}}</td>
                    <td>{{z.color}}</td>
                    <td>{{z.breed}}</td> 
                </tr> 
                <tr class = 'success'> 
                    <td>{{w.id}}</td> 
                    <td>{{w.fit}}</td> 
                </tr> 
                <tr class = 'info'> 
                    <td>{{v.id}}</td> 
                    <td>{{v.fit}}</td> 
                </tr>
                <tr class = 'success'> 
                    <td>{{u.id}}</td>
                    <td>{{u.full}}</td>
                    <td>{{u.man}}</td>
                    <td>{{u.sem}}</td> 
                    
                </tr>
                <tr class = 'danger'> 
                    <td>{{t.id}}</td> 
                    <td>{{t.cel}}</td> 
                    <td>{{t.wish}}</td> 
                    <td>{{t.tq}}</td> 
                </tr> 
                <tr class = 'info'> 
                    <td>{{s.id}}</td> 
                    <td>{{s.brand}}</td> 
                    <td>{{s.ver}}</td> 
                </tr>

               
            </tbody> 
        </table>
    </div> 
    {% endblock go %}






