{% extends 'base.html'%} 


{% block go %}


<div class="p-3 mb-2 bg-info text-dark"> 
    
<form action = '' method = 'POST'> 
    {% csrf_token %} 

    {{form.as_p}} 
    {{form.errors}}   

    <style>
        .button {
          background-color:  #555555; /* Black */
          border: none;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
          cursor: pointer;
        }
       
        
        </style>
        
        
    
        
        
        <button class="button button">Signup</button>
    
        

    <input type= 'submit' value = 'signup'> 

</form> 
</div>

{% endblock go %} 
